{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rafa books!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="{% static 'script.js' %}"></script> </head>
    
    <body style="text-align:center; background-color: #96a8ba;margin: auto;">
    <h1 style="margin-top: 2%;" class="text-center">Find Your Book Here!</h1>
    <div class="form-row justify-content-center my-2 my-lg-0">
        <input  id="search" class = "mr-sm-2" type="text" placeholder="Search Your Book here!">
        <button id ="button" style="background: #afd275;" class= "btn btn-lg-2" 
        type="submit">Search!</button>
    </div>

    <div id="result">
        <div class="result align-l mx-5">
            <div id="res-header" class="flex-left mb-4">
                <div class="vr mr-3"></div>
                <div class="text-container">
                    <br>
                    <p class="text-12">Berikut hasil pencarian berdasarkan kata kunci kamu.</p>
                </div>
            </div>
            <div class="status-container none">
                <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: #afd275; ">
                            <th scope="col">Judul</th>
                            <th scope="col">Penulis</th>
                            <th scope="col">Halaman</th>
                            <th scope="col">Terbitan</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Sampul</th>
                        </tr>
                    </thead>
                    <tbody style="background-color:white;">
                    </tbody>
                </table>
    </div></div>


</body>
</html>
